
@{
    ViewBag.Title = "Index";
}

<h1>@ViewBag.Saludo</h1>
<p>Date: @ViewBag.Fecha </p>
@Html.ActionLink("Go to Site", "Index", "Turno")


@section izq
    {
    <p>
        El cepillado y cuidado regular

        Una a dos veces por semana debes atender la estética de tu animal. Un cepillado simple puede ser suficiente, recorriendo su cuerpo en tramos medianos a largo, en dirección hacia la parte trasera y hacia el piso, según si estás atendiendo su lomo, barriga o patas. Usa un cepillo de cerdas metálicas y puntas redondeadas, que te ayudará a retirar los vellos muertos, y que retirará la suciedad sólida de su pelaje.
    </p>
}